@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  /* Colors */

  /* Primary */

  --Lime_Green: hsl(163, 72%, 41%);
  --Bright_Red: hsl(356, 69%, 56%);

  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --YouTube: hsl(348, 97%, 39%);
  --Instgram: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  --duration: 0.5s;
  --timing: ease;

  /* Light Theme */
  /* (BG) */
  --BG: hsl(0, 0%, 100%);
  /* (Top BG Pattern) */
  --Top-BG-Pattern: hsl(225, 100%, 98%);
  /* (Card BG) */
  --Card-BG: hsl(227, 47%, 96%);
  /* (Text) */
  --Text-thick: hsl(228, 12%, 44%);
  /* (Text) */
  --Text-Light: hsl(230, 17%, 14%);
  /* toggle */
  --Toggle: hsl(230, 22%, 74%);
}
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--BG);
  transition: color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
}

.header {
  width: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
  padding: 16px 0px 100px 0px;
  display: flex;
  justify-content: center;
  background-color: var(--Top-BG-Pattern);
}
.header_wraper {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: var(--Text-Light);
}
.header p {
  margin: 0;
  padding: 0;
  margin-top: 4px;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--Text-thick);
}

.toggle_switch_btn {
  display: flex;
  align-items: center;
}
.toggle_switch_btn .btn_name {
  margin-right: 8px;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--Text-thick);
}

/* Implementing the switch btn  */
.toggle_switch_btn .switch {
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 100px;
}
.toggle_switch_btn .switch .slider {
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 100px;
  position: relative;
  background: var(--Toggle);
}
.toggle_switch_btn .switch .slider::before {
  content: '';
  display: block;
  height: 25px;
  width: 25px;
  border-radius: 100px;
  background-color: #fff;
  position: absolute;
  left: 4px;
  top: 2px;
  transition: transform 0.4s linear;
}
.toggle_switch_btn .switch input {
  display: none;
}
.toggle_switch_btn .switch input:checked + .slider {
  background: var(--Toggle);
}
.toggle_switch_btn .switch input:checked + .slider::before {
  transform: translateX(100%);
  background-color: var(--BG);
}

/* Implementing style for the first section */
.main {
  width: 80%;
  margin-top: -80px;
}
.main #first_section {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
}

#first_section .card_type_1 {
  /* border: 1px solid red; */
  text-align: center;
  padding: 0 10px;
  position: relative;
  background-color: var(--Card-BG);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#first_section .card_type_1::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 100px 100px 0 0;
  display: block;
  width: 100%;
  height: 4px;
}

.card_fb::before {
  background-color: var(--Facebook);
}
.card_twitter::before {
  background-color: var(--Twitter);
}

.card_ig::before {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.card_youtube::before {
  background-color: var(--YouTube);
}

.platform {
  text-align: center;
  margin-top: 16px;
}
.platform i {
  margin-right: 8px;
}
.platform .user_name {
  padding: 0;
  margin: 0;
  display: inline;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--Text-thick);
}
.card_type_1 .nbr_of_total_followers {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-top: 18px;
  color: var(--Text-Light);
}

.card_type_1 .followers_tag {
  padding: 0;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.6rem;
  font-weight: 700;
  color: var(--Text-thick);
}
.card_type_1 .nbr_followers_today {
  font-size: 0.6rem;
  font-weight: 700;
  color: var(--Lime_Green);
}
.card_type_1 .nbr_followers_today i {
  margin-bottom: 16px;
  margin-right: 8px;
}
.main #second_section {
  margin-top: 24px;
  box-sizing: border-box;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

#second_section .heading {
  font-size: 1.5rem;
  font-weight: 700;
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 0;
  padding: 0;
  color: var(--Text-Light);
}
#second_section .card_type_2 {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px 30px;
  grid-row-gap: 32px;
  align-items: end;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--Card-BG);
}
#second_section .card_type_2:hover {
  opacity: 0.9;
}

.card_type_2 p {
  margin: 0;
  padding: 0;
}
.card_type_2 .tag {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--Text-thick);
}
.card_type_2 .nbr {
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--Text-Light);
}
.card_type_2 .percentage {
  font-size: 0.6rem;
  font-weight: 700;
  color: var(--Lime_Green);
  text-align: right;
}
.card_type_2 .percentage i {
  font-size: 0.6rem;
  display: inline;
  margin-right: 4px;
  color: var(--Lime_Green);
}
#second_section .heading {
  grid-column: 1/3;
  grid-row: 1/2;
}
#second_section .fb_cards {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
}
#second_section .twitter_cards {
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
}

#second_section .ig_cards {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
}

#second_section .youtube_cards {
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
}

/* **************************************************************************** */

/* media query for screen small than 1000px */
@media (max-width: 1000px) {
  .main {
    margin-top: 16px;
  }
  .main #first_section {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 16px;
  }
  .main #second_section {
    grid-template-columns: repeat(1, 1fr);
  }
  #second_section .heading {
    grid-column: 1/2;
  }
  #second_section .fb_cards {
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-columns: repeat(2, 1fr);
  }
  #second_section .twitter_cards {
    grid-column: 1/2;
    grid-row: 3/4;
    grid-template-columns: repeat(2, 1fr);
  }

  #second_section .ig_cards {
    grid-column: 1/2;
    grid-row: 4/5;
    grid-template-columns: repeat(2, 1fr);
  }

  #second_section .youtube_cards {
    grid-column: 1/2;
    grid-row: 5/6;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* media query for small than 500px */

@media (max-width: 500px) {
  .header {
    padding: 0;
    padding-top: 16px;
  }
  .header_wraper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header .heading {
    width: 100%;
    margin-bottom: 16px;
    padding-bottom: 32px;
    border-bottom: 0.2px solid var(--Text-thick);
  }
  .header .toggle_switch_btn {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  .main #first_section {
    grid-template-columns: repeat(1, 1fr);
  }
  .main #second_section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-columns: 100%;
  }
  #second_section .fb_cards {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 16px;
  }
  #second_section .twitter_cards {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 16px;
  }

  #second_section .ig_cards {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 16px;
  }

  #second_section .youtube_cards {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 16px;
  }
}

/* Icons colors  */
.fa-instagram {
  background: -moz-linear-gradient(
    top,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    top,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    to bottom,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
  text-align: right;
}

.fa-youtube {
  font-size: 1.2rem;
  color: var(--YouTube);
  text-align: right;
}

.fa-twitter-square {
  color: var(--Twitter);
  font-size: 1.2rem;
  text-align: right;
}

.fa-facebook-square {
  color: var(--Facebook);
  font-size: 1.2rem;
  text-align: right;
}

.dark-mode {
  /* Dark Theme */
  /* (BG) */
  --BG: hsl(230, 17%, 14%);
  /* (Top BG Pattern) */
  --Top-BG-Pattern: hsl(232, 19%, 15%);
  /* (Card BG) */
  --Card-BG: hsl(228, 28%, 20%);
  /* (Text) */
  --Text-thick: hsl(228, 34%, 66%);
  /* (Text) */
  --Text-Light: hsl(0, 0%, 100%);
  /* toggle */
  --Toggle: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
