@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
}
body.loaded {
  transition: background-color 0.5s ease-in-out;
}

.title {
  margin: 0;
  padding: 0;
  display:   inline;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
}
.top_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.top_section .title {
  font-size: 1.5rem;
}

.top_section .theme {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.top_section .theme .title {
  font-size: 0.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.top_section .theme_btn .labels {
  font-size: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 8px;
}

.top_section .toggle_switch {
  width: 55px;
  height: 15px;
  display: flex;
  flex-direction: row;
  border-radius: 100px;
  overflow: hidden;
}

.top_section .toggle_switch .switch {
  width: 20px;
  height: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_section .toggle_switch .switch .checkmark {
  transition: 0.4s;
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 100px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.top_section .toggle_switch .switch input {
  display: none;
}

.top_section .toggle_switch .switch input:checked + .checkmark {
  opacity: 1;
}

.screen_section {
  border-radius: 8px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 14px;
}

.screen_section .digits {
  margin: 0 10px;
  font-size: 2rem;
  width: 100%;
  border: none;
  font-weight: bold;
  text-align: right;
}

.screen_section .digits:focus {
  outline: none;
}

.keybork_grid {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 45px);
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
}

.keybork_grid > button {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

#DEL {
  font-size: 1rem;
}

#RESET {
  font-size: 1rem;
  grid-column: 1/3;
  grid-row: 5/6;
}

#EQUAL {
  font-size: 1rem;
  grid-column: 3/5;
  grid-row: 5/6;
}

.keybork_grid > button:active {
  transform: scaleY(0.95);
  box-shadow: none;
  transition: box-shadow 0.1s linear, transform 0.1s linear;
}

#DEL:active {
  transform: scaleY(0.95);
  box-shadow: none;
  transition: box-shadow 0.1s linear, transform 0.1s linear;
}

#RESET:active {
  transform: scaleY(0.95);
  box-shadow: none;
  transition: box-shadow 0.1s linear, transform 0.1s linear;
}

#EQUAL:active {
  transform: scaleY(0.95);
  box-shadow: none;
  transition: box-shadow 0.1s linear, transform 0.1s linear;
}

@media (max-width: 400px) {
  .container {
    width: 280px;
  }
  .container .keybork_grid {
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(5, 45px);
  }
}
